
/* Header Styles */
.header {
  background-color: #FAF9F8;
  padding: 20px 50px 0 20px; 
  margin-bottom: 50px;
}

.logo {
  display: flex;
  padding-bottom: 5px;
}

.logo img {
  max-height: 50px;
}

.logo span {
  font-size: 32px;
  font-family: "Bebas Neue", sans-serif;
  color: #001F3F;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto; 
}

.nav-menu li {
  display: inline-block;
  margin-left: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #001F3F;
}

.nav-menu li a .avatar-link{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('images/avatar.png');
  background-size: cover; /* Adjust background size */

}
/* Body Content Styles */
.body-content {
  padding: 50px 0;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  background-color: #FAF9F8;
}

#center_img {
  max-width: 100%;
  height: auto;
  margin-right: 30px; 
  width: 500px;
}

h1 {
  margin-top: 150px;
  font-size: 36px;
  margin-bottom: 20px;
  float: left;
  font-family: "Josefin Sans", sans-serif;
}

.slogan {
  font-size: 24px;
  color: #666;
  margin-bottom: 30px;
  text-align: left; 
  padding-top: 220px;
  padding-bottom: 10px;
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4E901E;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  align-items: center;
  height: auto;
  width: 300px;
  text-align: center;
}

.btn:hover {
  background-color: #16A085;
}

.footer {
  background-color: rgb(250, 249, 248);
  color: lightgrey;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


@font-face {
  font-family: 'Gagarin';
  src: url('Gagalin-Regular.otf');
}

* {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
  
#unbold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    color:black;
}
#slogan{
    padding: 10px 0 10px;
    color: #808000;
    margin: 120px 0 25px 0;
    font-family: 'Garet';
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
}
#extra_text{
  color: #808000;
  text-align: center; 
  font-size: 25px;
  margin-top: 0px;
}

#page_heading{
    color:#001F3F;
    font-size: 64px;
    position: relative/absolute; 
    text-align: center;

}
#small_heading{
    color:#001F3F;
    font-size: 34px;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: right;
}
#small_heading a {
  color: #001F3F; /* Set the color to blue */
  /* Add any other styling you need for the anchor element */
}

button{
    background-color: #001F3F;
    color: #FFFFFF;
    padding: 10px 80px; 
    border: none; 
    border-radius: 10px; 
    font-size: 32px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    
}
.leaveReviewButton {
  background-color: #001F3F;
  color: #FFFFFF;
  padding: 10px 80px; 
  border: none; 
  border-radius: 10px; 
  font-size: 12px;
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
}

button:hover {
    opacity: 0.8;
  }
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none;
} 
a:active { 
    text-decoration: none; 
}
#list-map_button{
    background-color: #FFFFFF;
    color: #001F3F;
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 20px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}


.input_field{
    padding: 15px 5px; 
    border: 1px solid #4E901E; 
    font-size: 20px;
    border-radius: 10px; 
    margin: 10px;
    margin-left: 27px;
    width: 300px;   
    opacity: 0.8;

}
.input_field::placeholder {
    color: #ccc; 
    text-align: left;
}

.under_text{
  padding-top: 10px;
  color: rgb(0, 31, 63);
}
.zipcode_search{
    /* to use for username 
    do the following: <input type="text" class="zipcode_search" placeholder="ZIP code"> */
    padding: 15px 5px; 
    border: 5px solid #4E901E; 
    border-radius: 5px; 
    font-size: 16px;
    width: 600px; 
}
/* Style the placeholder text */
.zipcode_search::placeholder {
    color: green; 
    text-align: center;
}

#center_img {
    display: block; 
    margin: 0 auto; 
    height: 105;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .body-content {
      padding: 10px;
  }
  
  #center_img {
      width: 100%;
      max-width: 300px;
      height: auto;
  }
  
  #slogan {
      font-size: 16px;
  }

  .find-parks-button {
      font-size: 16px;
      padding: 8px 16px;
  }
}
body{
    overflow-x:hidden;
  }


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #001F3F ;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

/* Styling for the links inside the navigation */
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* Change the color of the links on hover */
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 0;
  padding: 20px;
  transition: margin-right 0.5s;
}


.hamburger {
  position: absolute;
  top: 0px;
  right: 20px; 
  /*right: -10px;*/
  cursor: pointer;
  z-index: 2;
}

.hamburger.open {
  color: #f6eaea;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar {
  background-color: #fff;
}

.required:after {
  content:" *";
  color: red;
}

.input-container {
  position: relative;
}

.input_field {
  padding-left: 30px;
}

.fa-solid.fa-user {
  position: absolute;
  left: 5px; 
  top: 50%;
  transform: translateY(-50%);
}

/*leaderboard styles*/
.podium{
  position: absolute;
  left: 790px;
  top: 266px;
  z-index: 0;
  
}

#leaderboard{
  border-collapse: collapse;
  width: 100%;
}

.leaderboard-container {
  position: absolute;
  left: calc(50% - 405.5px); 
  top: 329px;
  width: 811px;
  height: 721px; 
  margin: 0 auto;
  border: 2px solid #4E901E; 
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

th, td {
  padding: 8px;
  border-bottom: 1px solid #4E901E;
  text-align: center;

}

th {
  background-color: #4E901E;
  height: 150px;
}

tfoot {
  height: 50px;
}

td{
  padding: 12px;
  font-size: x-large;
}
#leaderboard td:first-child, th:first-child {
  padding-right: 60px; 
}

#leaderboard td:last-child, th:last-child {
 text-align: center;
 padding-right: 100px;
}

#leaderboard tbody tr:nth-child(1) td {
  color: #d4af37; /* Change to the desired color for the top usernames */
}
#leaderboard tbody tr:nth-child(2) td {
  color: #71706e; /* Change to the desired color for the top usernames */
}
#leaderboard tbody tr:nth-child(3) td {
  color: #CD7F32; /* Change to the desired color for the top usernames */
}

#leaderboard tbody tr:nth-child(1) td:first-child::before {
  content: "";
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-image: url('gold.png'); 
  background-size: contain; 
  margin-right: 5px; 
}

#leaderboard tbody tr:nth-child(2) td:first-child::before {
  content: ""; /* Empty content */
  display: inline-block;
  width: 20px; /* Adjust the width of the trophy icon as needed */
  height: 20px; /* Adjust the height of the trophy icon as needed */
  background-image: url('silver.png'); /* Replace 'gold.png' with the path to your trophy image */
  background-size: contain; /* Ensure the image fits within the specified width and height */
  margin-right: 5px; /* Adjust the margin between the trophy icon and the username */
}

#leaderboard tbody tr:nth-child(3) td:first-child::before {
  content: ""; /* Empty content */
  display: inline-block;
  width: 20px; /* Adjust the width of the trophy icon as needed */
  height: 20px; /* Adjust the height of the trophy icon as needed */
  background-image: url('bronze.png'); /* Replace 'gold.png' with the path to your trophy image */
  background-size: contain; /* Ensure the image fits within the specified width and height */
  margin-right: 5px; /* Adjust the margin between the trophy icon and the username */
}
tr:hover {
  background-color:#808000;
}

tr {
  border-radius: 5px;
}

tr:last-child td {
  border-bottom: none;
}



h1 {
  text-align: center;
  color: #001F3F;
}
    

.switch {
  padding-top: 50px;
  position: relative;
  display: inline-block;
  align-items: center;
}
 
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-text {
  text-align: center;
  color: #001F3F;
  font-size: 20px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-container{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow cards to wrap to next line if needed */
  background-color:#FFFFFF;
  border-radius: 5px;
  margin: 50px;
  padding: 5px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  cursor: pointer;
  color: white;
  
  
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 25px;
  height: auto;
  border: 1px solid #4E901E;
  box-shadow: 1px #4E901E;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

#parkImage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding-top: 15px;
}
#parkImage img{
  border: 1px solid #4E901E;
  border-radius: 5px;
  align-items: center; /* Center items horizontally */
  width: 550px;
  height: 300px;
 

}
.image-container {
  margin: 0 20%; /* Add spacing on the sides */
  min-height: 380px;
  background-position: center;
  margin: 250px;
}

.content {
  margin-top: 20px; /* Add space between the image and the text/search bar */
}


#parks-display h3{
  color:#001F3F;
  text-align: center;
  font-size: 80px;
  margin: 0px;
  padding: 5px;
}

.nlp{
  background-image: url("images/North_Lakes_Park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.park-container {
  position: absolute;
  right: 0;
  
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

.park-container h3{
  text-align: center;
  color:#001F3F;
  font-family: "Montserrat", sans-serif;
}

.park-container p{
  padding-top:10px ;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color:#001F3F;
  font-weight:400;
}

.hours, .Directions, .events, .Ratings {
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.container-section {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  gap: 20px; /* Add gap between columns */
}

.container-section a{
  padding-top:10px ;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color:#001F3F;
}

.container-section p{
  padding-top:0px ;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color:#001F3F;
}

#time{
  text-align: center;
  color:#001F3F;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.eureka{
  background-image: url("images/Eureka-park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.lake-forest{
  background-image: url("images/lakeForest_park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wheeler{
  background-image: url("images/Wheeler-ridge-park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mckenna{
  background-image: url("images/mckennaPark.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.footer h3 {
  margin: 0; /* Remove default margin */
  font-size: 18px; /* Adjust font size */
  color: #FFFFFF;
}


.ManagePark { 
  width: 600px;
  height: 400px;
  text-align: left;

}

li {
margin: 10px 0px 0px 0px;}

.ManageParkRatingOptions{
  margin: 10px 0px 0px 0px;
}
.ManageParkRatingOptions {
  margin: 10px 0px 0px 0px;
  display: block; /* Ensure the container is a block-level element */
}

.input-wrapper {
  margin-top: 5px; /* Adjust the margin to position the input box below the text */
}

.stars {
  display: inline-block;
  color: white; /* Change the color of stars as needed */
  font-size: 20px; /* Adjust font size as needed */  
}
.stars1 {
  display: inline-block;
  color: white; /* Change the color of stars as needed */
  font-size: 20px; /* Adjust font size as needed */  
}
.category {
  display: inline-block;
  width: 100px; /* Adjust width as needed */
}

/*starts here/

/* These are from the trial run*/
.rating__star {
  font-size: 1.0em;
  cursor: pointer;
  color: gold;
  transition: filter linear .3s;
}

.rating__star.fa-solid {
  color: gold; /* Color for filled stars */
}

.rating__star:hover {
  filter: drop-shadow(1px 1px 4px #001F3F);
}
 
.rating {
  position: relative;
  width: 180px;
  background: transparent;
  display: flex;
  gap: .3em;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
}

.rating__result {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10px) translateX(-5px);
  z-index: -9;
  font: 3em Arial, Helvetica, sans-serif;
  color: #ebebeb8e;
  pointer-events: none;
}

.box {
  width: 200px;
  height: 70px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  margin-left: -2px; /* Half an inch is approximately 12 pixels */

}

.input-field {
  width: calc(100% - 20px); /* Subtract padding from width */
  height: 30px;
  padding: 5px;
  box-sizing: border-box; /* Ensure padding is included in width */
  font-size: 14px;
  border: none; /* Remove border */
  outline: none; /* Remove outline */
}
.input-wrapper {
  margin-top: 5px; /* Adjust the margin to position the input box below the text */
}

.upload-button {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.upload-button:hover {
  background-color: #0056b3;
}
#options{
  margin-right: 20px; /* Adjust the value as needed */
}
.popupMessage {
  display: none; /* Initially hide the pop-up message */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/*styling for the dropdown menu listed down below*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover {
  color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:whitesmoke;
  width: 160px;
  right:0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 999; /* Place the dropdown content on top of other elements */
  border-radius: 15px;
  outline: 2px solid grey; /* Add an outline */
  
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e0e0e0
}


.dropdown:hover .dropdown-content {
  display: block;
}
.single-line {
  white-space: nowrap;
}
