/* Resetting default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  overflow: hidden;
  padding: 20px;
  align-items: center;
  background-color:#FFFFFF;
  height: 150px;
  margin-bottom: 50px;
  border: 1px solid #001F3F;
}
.header img{
  display: inline-block;
  padding-bottom: 50px;
}
header a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; 
    font-style: normal;
    color:black;
}
#unbold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    color:black;
}
#slogan{
   color: #808000;
   text-align: center; 
   font-size: 25px;
   margin-top: 0px;
}
#extra_text{
  color: #808000;
  text-align: center; 
  font-size: 25px;
  margin-top: 0px;
}

#page_heading{
    color:#001F3F;
    font-size: 64px;
    position: relative/absolute; 
    text-align: center;


}
#small_heading{
    color:#001F3F;
    font-size: 34px;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: right;
}
#title{
    color:#001F3F;
    text-align: center;
    font-size: 110px; 
    margin: 0px;
}
button{
    background-color: #001F3F;
    color: #FFFFFF;
    padding: 10px 80px; 
    border: none; 
    border-radius: 10px; 
    font-size: 32px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
  }
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
#list-map_button{
    background-color: #FFFFFF;
    color: #001F3F;
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 20px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}


.input_field{
    padding: 15px 5px; 
    border: 5px solid #4E901E; 
    border-radius: 5px; 
    font-size: 20px;
    border-radius: 10px; 
    margin: 10px;
    width: 600px;   
    opacity: 0.8;

}
.input_field::placeholder {
    color: #ccc; 
   
    text-align: left;
}

.under_text{
  padding-top: 10px;
}
.zipcode_search{
    /* to use for username 
    do the following: <input type="text" class="zipcode_search" placeholder="ZIP code"> */
    padding: 15px 5px; 
    border: 5px solid #4E901E; 
    border-radius: 5px; 
    font-size: 16px;
    width: 600px; 
}
/* Style the placeholder text */
.zipcode_search::placeholder {
    color: green; 
    text-align: center;
}

#center_img {
    display: block; 
    margin: 0 auto; 
}

body{
    overflow-x:hidden;
  }


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #001F3F ;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

/* Styling for the links inside the navigation */
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* Change the color of the links on hover */
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 0;
  padding: 20px;
  transition: margin-right 0.5s;
}


.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar {
  background-color: #fff;
}

.required:after {
  content:" *";
  color: red;
}

.input-container {
  position: relative;
}

.input_field {
  padding-left: 30px; /* Adjust this value to fit your icon */
}

.fa-solid.fa-user {
  position: absolute;
  left: 5px; /* Adjust this value to position the icon within the input field */
  top: 50%;
  transform: translateY(-50%);
}

.leaderboard-container {
  
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #4E901E; 
  border-radius: 10px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

th, td {
  padding: 8px;
  border-bottom: 1px solid #4E901E;
  text-align: left;
}

th {
  background-color: #4E901E;
}

tr:hover {
  background-color: lightgray;
}

tr {
  border-radius: 5px;
}

tr:last-child td {
  border-bottom: none;
}

.podium{
  position: absolute;
  width: 197px;
  height: 225px;
  left: 790px;
  top: 172px;
}


h1 {
  text-align: center;
  color: #001F3F;
}
    

.switch {
  padding-top: 50px;
  position: relative;
  display: inline-block;
  align-items: center;
}
 
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-text {
  text-align: center;
  color: #001F3F;
  font-size: 20px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#map{
  height: 800px;
  width: 800px;
  margin: 5rem auto;
}

.switch-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-container{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow cards to wrap to next line if needed */
  background-color:#FFFFFF;
  border-radius: 5px;
  margin: 50px;
  padding: 5px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  cursor: pointer;
  color: white;
  
  
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 25px;
  height: auto;
  border: 1px solid #4E901E;
  box-shadow: 1px #4E901E;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

#parkImage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding-top: 15px;
}
#parkImage img{
  border: 1px solid #4E901E;
  border-radius: 5px;
  align-items: center; /* Center items horizontally */
  width: 550px;
  height: 300px;
 

}
.image-container {
  margin: 0 20%; /* Add spacing on the sides */
  min-height: 380px;
  background-position: center;
  margin: 250px;
}

.content {
  margin-top: 20px; /* Add space between the image and the text/search bar */
}


#parks-display h3{
  color:#001F3F;
  text-align: center;
  font-size: 80px;
  margin: 0px;
  padding: 5px;
}

.nlp{
  background-image: url("images/North_Lakes_Park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px;
}

.park-container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

.park-container h3{
  text-align: center;
  color:#001F3F;
  font-family: "Montserrat", sans-serif;
}

.park-container p{
  padding-top:10px ;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color:#001F3F;
  
}

.hours, .Directions, .events, .Ratings {
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.container-section {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  gap: 20px; /* Add gap between columns */
}

.container-section a{
  padding-top:10px ;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color:#001F3F;
}

.container-section p{
  padding-top:10px ;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color:#001F3F;
}

#time{
  text-align: center;
  color:#001F3F;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.eureka{
  background-image: url("images/Eureka-park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px;
}
.lake-forest{
  background-image: url("images/lakeForest_park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px;
}
.wheeler{
  background-image: url("images/Wheeler-ridge-park.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px;
}
.mckenna{
  background-image: url("images/mckennaPark.jpeg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px;
}
.footer{
  overflow: hidden;
  padding: 20px 10px;
  align-items: center;
  background-color:#fff;
  height: 100px;
}