/* Resetting default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; 
    font-style: normal;
    color:black;
}
#unbold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    color:black;
}
#slogan{
   color: #808000;
   text-align: center; 
   font-size: 25px;
   margin-top: 0px;
}
#extra_text{
  color: #808000;
  text-align: center; 
  font-size: 25px;
  margin-top: 0px;
}

#page_heading{
    color:#001F3F;
    font-size: 64px;
    position: relative/absolute; 
    text-align: center;


}
#small_heading{
    color:#001F3F;
    font-size: 34px;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: right;
}
#title{
    color:#001F3F;
    text-align: center;
    font-size: 110px; 
    margin: 0px;
}
button{
    background-color: #001F3F;
    color: #FFFFFF;
    padding: 10px 80px; 
    border: none; 
    border-radius: 10px; 
    font-size: 32px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
  }
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
#list-map_button{
    background-color: #FFFFFF;
    color: #001F3F;
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 20px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}


.input_field{
    padding: 15px 5px; 
    border: 5px solid #4E901E; 
    border-radius: 5px; 
    font-size: 20px;
    border-radius: 10px; 
    margin: 10px;
    width: 600px;   
    opacity: 0.8;

}
.input_field::placeholder {
    color: #ccc; 
   
    text-align: left;
}

.under_text{
  padding-top: 10px;
}
.zipcode_search{
    /* to use for username 
    do the following: <input type="text" class="zipcode_search" placeholder="ZIP code"> */
    padding: 15px 5px; 
    border: 5px solid #4E901E; 
    border-radius: 5px; 
    font-size: 16px;
    width: 600px; 
}
/* Style the placeholder text */
.zipcode_search::placeholder {
    color: green; 
    text-align: center;
}

#center_img {
    display: block; 
    margin: 0 auto; 
}

body{
    overflow-x:hidden;
  }

/* Main content area styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #001F3F ;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

/* Styling for the links inside the navigation */
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* Change the color of the links on hover */
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-right: 0;
  padding: 20px;
  transition: margin-right 0.5s;
}


.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar {
  background-color: #fff;
}

.required:after {
  content:" *";
  color: red;
}

.input-container {
  position: relative;
}

.input_field {
  padding-left: 30px; /* Adjust this value to fit your icon */
}

.fa-solid.fa-user {
  position: absolute;
  left: 5px; /* Adjust this value to position the icon within the input field */
  top: 50%;
  transform: translateY(-50%);
}
/* test*/
body {
  font-family: Arial, sans-serif;
}

.leaderboard-container {
  border: 2px solid 4E901E;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

tr {
  border-radius: 5px;
}


tr:last-child td {
  border-bottom: none;
}
